#container{
	width:auto;
	height: auto;
	margin-left: 400px;
}
#button{
	display: inline-block;
	height: 50px;
	width: auto;
	text-align: center;
	margin-left: 10px;
	padding-left: 5px;
	padding-top: 20px;

}
#menu{
	width: 760px;
	height: 50px;
	background-color: #ff6666;
	margin-left: -100px;
	border-radius: 5px;
}
#menu a{
	text-decoration: none;
	color:black;
	font-family: Arial;
}
#button:hover{
	background-color: #ff0000;
	border-radius: 10px;
}

header{
	width:760px;
	height:150px;
	background: url("1.png") no-repeat;
	background-size:100% 100%;
	position:relative;
	margin-left: -100px;
}

header div{
	width:200px;
	position:absolute;
	bottom:2px;
	right:10px;

}
header input{
	border-radius: 10px;
}
#content{
	
	float:left;
	width:480px;
	height:auto;
	background-color:#66FFFF;
	border-radius:5px;
	height:320px;
	margin-left: -100px;
}
span{
	color: #ff6600;
}
#sitebar{
	background-color:#9933ff;
	float:right;
	width:280px;
	height:auto;
	height:320px;
	border-radius:5px;
	margin-right: 288px;
}
footer{
	background-color: #a9a9a9;
	margin-left: -100px;
	width:760;
	border-radius: 10px;
}
footer a{
	font-family: serif;
	font-size: 15px;
	color: #9933ff;
}
